group4/CinemaWebClient/CinemaWebClient-war/src/conf/xml-resources/web-service-references/FilmWebService/wsdl/localhost_8080/FilmWebService/FilmWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="addFilm" type="tns:addFilm" />

<xs:element name="listFilm" type="tns:listFilm" />

<xs:element name="listFilmResponse" type="tns:listFilmResponse" />

<xs:complexType name="listFilm">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listFilmResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addFilm">
<xs:sequence>
<xs:element name="titolo" type="xs:string" minOccurs="0" />
<xs:element name="regista" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>